<%-include("header")-%>

<body>
    <div class="dateSection">
      <h2><%= todayDate %></h2>
    </div>
    <div class="newList box" id="heading2">
      <form action="/newList" method="post">
        <input type="text" id="newList" name="newListName" placeholder="New list" autocomplete="off">
        <button type="submit" name="button" class="button2">+</button>
      </form>
    </div>
  


  <div class="box listTitle" id="heading">
    <h1>
      <span class="homeTitle"><a href="/"> Home</a></span>
      <span class="listTitle"><%= listTitle %></span>
    </h1>
  </div>
  <div class="box">
    <% newItems.forEach(function(newItem){ %>
      <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkBox" value="<%= newItem._id %>" onChange="this.form.submit()">
      <p> <%= newItem.name %> </p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
    <% }) %>
    <form class="item" action="/" method="post">
      <input type="text" name="todo" id="todo" placeholder="New item" autocomplete="off">
      <button type="submit" name="button" value= <%= listTitle %>>+</button>
    </form>
  </div>
</body>

<%-include("footer")-%>